/.vs
/IdentityServer4.MongoDbAdapter/obj
/IdentityServer4.MongoDbAdapter/bin
/IdentityServer4.MongoDbAdapter.Demo/obj
/IdentityServer4.MongoDbAdapter.Demo/bin
/IdentityServer4.MongoDbAdapter.Demo/logs
/Redplane.IdentityServer4.MongoDatabase/obj
/Redplane.IdentityServer4.MongoDatabase/bin
/Redplane.IdentityServer4.MongoDatabase.Demo/obj
/Redplane.IdentityServer4.MongoDatabase.Demo/bin
/Redplane.IdentityServer4.MongoDatabase.Demo/logs
/Redplane.IdentityServer4.MongoDatabase.UnitTest/obj
/Redplane.IdentityServer4.MongoDatabase.UnitTest/bin
/*.user
/Redplane.IdentityServer4.MongoDatabase.Demo/*.jwk
/UnitTests/Redplane.IdentityServer4.MongoDatabase.UnitTest/obj
/UnitTests/Redplane.IdentityServer4.MongoDatabase.UnitTest/bin
/.idea/.idea.Redplane.IdentityServer4.MongoDatabase/.idea/.gitignore
/.idea
