/.vs
/IdentityServer4.MongoDbAdapter/obj
/IdentityServer4.MongoDbAdapter/bin
/IdentityServer4.MongoDbAdapter.Demo/obj
/IdentityServer4.MongoDbAdapter.Demo/bin
/IdentityServer4.MongoDbAdapter.Demo/logs
